In [60]:
import pandas as pd
from mlxtend.frequent_patterns import association_rules, apriori
FILE_PATH = "../shared_data_read_only/"
FILES = ("consumer_price_index.xlsx","Contacts.xlsx","Invoice and Opportunities.xlsx",
         "Items and Opportunities.xlsx","Non-Stock Items.xlsx","Opportunities.xlsx")

/opt/tljh/user/lib/python3.7/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

In [61]:


#min_confidence = 0.7  # Définissez la confiance minimale souhaitée
#rules = association_rules(frequent_itemsets, metric="lift", min_threshold=min_confidence)

/opt/tljh/user/lib/python3.7/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

In [62]:
file_no = 4

df = pd.read_excel(f"{FILE_PATH}{FILES[file_no]}")
print(FILES[file_no])
df

Non-Stock Items.xlsx

/opt/tljh/user/lib/python3.7/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

,Inventory ID,Description EN,Posting Class,Tax Category,Base Unit,Item Status,Created On,Last Modified On,Default Price
0,CAMP001,"Henri LACHMANN room (1/2 day), fully equipped:...",CAMPUS,TVA 20,DEMI J,Active,2021-02-12 02:58:56.990,2022-08-23 13:01:01.627,126.0
1,CAMP002,"Salle Henri LACHMANN, fully-equipped room: vid...",CAMPUS,TVA 20,JOUR,Active,2021-02-12 02:58:57.430,2022-08-23 13:01:17.627,214.2
2,CAMP003,"Salle Olympique Lyonnais (1/2 day), fully equi...",CAMPUS,TVA 20,DEMI J,Active,2021-02-12 02:58:57.557,2022-08-23 13:01:28.037,252.0
3,CAMP004,"Salle Olympique Lyonnais, fully equipped room:...",CAMPUS,TVA 20,JOUR,Active,2021-02-12 02:58:57.683,2022-08-23 13:01:47.147,415.8
4,CAMP005,"Gol de Letra room (1/2 day), fully equipped: v...",CAMPUS,TVA 20,DEMI J,Active,2021-02-12 02:58:57.810,2022-08-23 13:01:55.207,252.0
...,...,...,...,...,...,...,...,...,...
92,PARTPUB003,Department grant,PARTPUB,TVA0,PIECE,Active,2021-02-12 03:02:55.500,2021-11-29 09:25:34.083,0.0
93,PARTPUB004,Regional grant,PARTPUB,TVA0,PIECE,Active,2021-02-12 03:02:55.637,2021-06-10 16:16:40.363,0.0
94,PARTPUB005,State grant,PARTPUB,TVA0,PIECE,Active,2021-02-12 02:59:06.997,2021-02-26 12:07:48.243,0.0
95,PARTPUB006,European subsidy,PARTPUB,TVA0,PIECE,Active,2021-02-12 02:59:07.130,2021-02-26 12:07:48.327,0.0
96,TAXEAPPR,Apprenticeship tax,TAXEAPP,TVA0,PIECE,Active,2021-02-12 02:59:07.267,2021-06-10 10:29:42.220,0.0

In [63]:
file_no = 3

df = pd.read_excel(f"{FILE_PATH}{FILES[file_no]}")
print(FILES[file_no])
df

/opt/tljh/user/lib/python3.7/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

Items and Opportunities.xlsx

,Opportunity ID,Line Nbr.,Inventory ID,Year,Unit Price,Quantity,UOM,Ext. Price,Currency,Discount Amount,"Discount, %",Funded Program,Free Item,Tax Category
0,6387,1.0,EVEN001,2023.0,9000.0,1.0,PIECE,9000.0,EUR,0.0,0.0,Non specified,False,TVA0
1,6386,1.0,EVEN001,2023.0,9000.0,1.0,PIECE,9000.0,EUR,0.0,0.0,Non specified,False,TVA0
2,6385,1.0,DONPAR,2023.0,140.0,1.0,PIECE,140.0,EUR,0.0,0.0,Non specified,False,TVA0
3,6384,1.0,DONPAR,2023.0,350.0,1.0,PIECE,350.0,EUR,0.0,0.0,Non specified,False,TVA0
4,6383,1.0,DONPAR,2023.0,120.0,1.0,PIECE,120.0,EUR,0.0,0.0,Non specified,False,TVA0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7453,5,2.0,MECENAT,2021.0,209.0,1.0,PIECE,209.0,EUR,0.0,0.0,Non specified,False,TVA0
7454,4,1.0,MECENAT,2020.0,10625.0,1.0,PIECE,7500.0,EUR,0.0,0.0,Non specified,False,0
7455,3,1.0,MECENAT,2020.0,35000.0,1.0,PIECE,35000.0,EUR,0.0,0.0,Job dans la Ville,False,0
7456,2,1.0,MECENAT,2020.0,20000.0,1.0,PIECE,20000.0,EUR,0.0,0.0,Séjours et Camps,False,0
7457,1,1.0,MECENAT,2020.0,10000.0,1.0,PIECE,10000.0,EUR,0.0,0.0,Réussite dans la Ville,False,0

In [64]:
res = pd.pivot_table(df[["Opportunity ID","Inventory ID"]], index="Opportunity ID",columns='Inventory ID', aggfunc=lambda x: 1, fill_value=0)

/opt/tljh/user/lib/python3.7/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

In [65]:
res

/opt/tljh/user/lib/python3.7/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

Inventory ID,CAMP001,CAMP002,CAMP003,CAMP004,CAMP005,CAMP006,CAMP007,CAMP008,CAMP009,CAMP012,...,MECCOMP,MECENAT,NDF001,PARTPUB001,PARTPUB002,PARTPUB003,PARTPUB004,PARTPUB005,PARTPUB006,TAXEAPPR
Opportunity ID,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6383,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6384,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6385,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6386,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6387,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [82]:

min_count = 1
relavant_items_columns = list(map(lambda x:x[0],(filter(lambda x: x[-1]>min_count,[(item,tot ) for item,tot in zip(res.sum().sort_values().index.to_list(),res.sum().sort_values().to_list())]))))

/opt/tljh/user/lib/python3.7/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

In [83]:
res = res[relavant_items_columns]
res

/opt/tljh/user/lib/python3.7/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

Inventory ID,CAMP030,PARTPUB001,EVEN002,EVEN011,CAMP023,EVEN021,EVEN001,PARTPUB005,EVEN012,DONPAR,TAXEAPPR,MECENAT
Opportunity ID,,,,,,,,,,,,
1,0,0,0,0,0,0,0,0,0,0,0,1
2,0,0,0,0,0,0,0,0,0,0,0,1
3,0,0,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,0,1
5,0,0,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
6383,0,0,0,0,0,0,0,0,0,1,0,0
6384,0,0,0,0,0,0,0,0,0,1,0,0
6385,0,0,0,0,0,0,0,0,0,1,0,0
6386,0,0,0,0,0,0,1,0,0,0,0,0
6387,0,0,0,0,0,0,1,0,0,0,0,0

In [80]:
freq_items = apriori(res, min_support=0.01, use_colnames=True, verbose=1)
rules = association_rules(freq_items, metric="confidence")
rules.head()

Processing 132 combinations | Sampling itemset size 2

/opt/tljh/user/lib/python3.7/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)
/home/jupyter-user-7/.local/lib/python3.7/site-packages/mlxtend/frequent_patterns/fpcommon.py:114: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  DeprecationWarning,

Empty DataFrame
Columns: [antecedents, consequents, antecedent support, consequent support, support, confidence, lift, leverage, conviction, zhangs_metric]
Index: []

In [76]:
frequent_itemsets = apriori(res, min_support=0.01, use_colnames=True)
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1)
rules.head()

/opt/tljh/user/lib/python3.7/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)
/home/jupyter-user-7/.local/lib/python3.7/site-packages/mlxtend/frequent_patterns/fpcommon.py:114: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  DeprecationWarning,

Empty DataFrame
Columns: [antecedents, consequents, antecedent support, consequent support, support, confidence, lift, leverage, conviction, zhangs_metric]
Index: []